    <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../../assets/f2.jpg" alt="Delhi Metro">  
                 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/f3.jpg" alt="Bangalore Metro">  
                 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/f4.jpg" alt="Channai Metro">  
                 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/f2.jpg" alt="Jaipur Metro">  
                 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/f4.jpg" alt="Mumbai Metro">  
             
            </ng-template>  
        </ngb-carousel>  

  
